body {
    color: #404040;

    margin: 0;
}

* {
    box-sizing: border-box;

    font-family: 'Source Sans Pro', sans-serif;
}


/* =================
    Typography 
   ================= 
*/

    h1 {
        font-weight: 400;
        font-size: 2.5rem;
        
        text-shadow: 0px -2px 8px #000000;
        text-transform: capitalize;
    }

    h2 {
        font-size: 2.25rem;

        margin: 0.167em 0;
    }

    p {
        font-size: 1.125em;
        line-height: 1.35;
    }

    .beta-text { 
        font-weight: 900;

        text-shadow: 2px -2px 4px #000000;

        margin-top: 20px;
    }

    span {
        color: rgb(255, 228, 159);
    }

    .subheading {
        color: #575757;

        font-weight: 900;

        margin-bottom: 0.5em;
    }

    .beta-text, .top-text,
    .subheading {
        text-transform: uppercase;
    }

    .fine-print {
        font-size: 0.75rem;
        letter-spacing: 0.125rem;

        color: #858585;
    }

    .top-text {
        font-size: 0.875rem;
        font-weight: 900;

        margin: 0 auto;


        border-top: 5px solid;

        /* border-width: 1em; */
        order: -1;
    }

/* =================
    Flex containers
   ================= */

   .intro, .main-content {
    display: flex;
    flex-direction: column;

    padding-left: 2em;
    padding-right: 2em;
   }
   
/* =================
    Intro
   ================= */
   
    .intro { 
    justify-content: space-between;


    
    text-align: center;
    color: #fff;

    background-color: rgba(99, 47, 4, 0.801);
    background-image: url("./images/intro-bg.png");
    background-size: cover;
    
    
    padding: 0em 2.1875em;
    
    min-height: 250px;
    
    }


/* ====================
    Main content
   ==================== */

   .main-content {
    align-items: center;
    
    padding-top: 2.5em;  
    /* border: 2px solid red; */

    }

    .img-main {
        width: 200px;

        border-radius: 50%;
    }

    .main-content p, form {
        max-width: 625px;
    }

/* =================
    Form
   ================= */
    input {
        width: 100%;
        
        margin-bottom: 0.75em;
        
        padding: 0.5em;

        border: 2px solid #d1d5db;
        border-radius: 5px;
    }

    #input-file {
        border: none;

        text-align: center;
        text-transform: uppercase;

        background-color: #d1d5db;

    }

    #input-file:hover {
        background-color: #999ca1;
    }

    input:focus {
        font-family: inherit;

        outline: none;

        border-color: rgb(194, 91, 8);

        background-color: #fffaf5;
    }

    .btn {
        font-family: inherit; 

        text-transform: uppercase;
        
        border: none;
        border-radius: 5px;
        
        width: 100%;
    }
    
    .btn-primary {
        color: white;

        font-weight: bold;

        background-color: rgb(194, 91, 8);

        margin-top: 1em;    

        opacity: 0.8;
        
        padding: 0.75em 0;
    }

    .btn-primary:hover, .btn-primary:focus {
        opacity: 1;

        background-color: rgb(194, 91, 8);

        cursor: pointer;
    }
/* =================
    Media queries 
   ================= */

@media (min-width: 576px) {
    body {
        display: flex;
    }
    
    .intro, .main-content {
        width: 50%;
    }

    .intro {
        min-height: 100vh;

        justify-content: space-between;
    }

    .main-content {
        justify-content: center;

        padding-top: 0;
    }

    h1 {
        font-size: 5vh;
    }
    
    h2 {
        font-size: 2.625em;
    }
    
    .beta-text {
        font-size: 1.25em;
    }
}