body {
    font-family: 'Source Sans Pro', sans-serif;

    color: #404040;

    margin: 0;

}

/* =================
    Typography 
   ================= */

h1 {
    font-weight: 400;
    font-size: 2.5rem;
    
    text-shadow: 2px -2px 8px #000000;
    text-transform: capitalize;
}

h2 {
    font-size: 2.25rem;

    margin: 0.167em 0;
}

p {
    font-size: 1.125em;
    line-height: 1.35;
}

.beta-text { 
    font-weight: 900;

    margin-top: 20px;
}

span {
    color: rgb(255, 228, 159);
}

.subheading {
    color: #575757;

    font-weight: 900;

    margin-bottom: 0.5em;
}

.beta-text,
.subheading {
    text-transform: uppercase;
}

/* =================
    Flex containers
   ================= */

   .intro, .main-content {
    display: flex;
    flex-direction: column;

    padding-left: 2em;
    padding-right: 2em;
   }
   
/* =================
    Intro
   ================= */
   
.intro { 
    justify-content: center;
    
    text-align: center;
    color: #fff;

    background-color: rgba(99, 47, 4, 0.801);
    background-image: url("./images/intro-bg.png");
    background-size: cover;
    
    
    padding: 0em 2.1875em;
    
    min-height: 250px;
    
}


/* ====================
    Main content
   ==================== */

   .main-content {
    align-items: center;
    
    padding-top: 2.5em;  

}


.img-main {
    width: 200px;

    border-radius: 50%;
}


/* =================
    Form
   ================= */
   

/* =================
    Media queries 
   ================= */

@media (min-width: 576px) {
    body {
        display: flex;
    }
    
    .intro, .main-content {
        width: 50%;
    }

    .intro {
        min-height: 100vh;

        justify-content: space-around;
    }

    .main-content {
        justify-content: center;

        padding-top: 0;
    }

    h1 {
        font-size: 5vh;
    }
    
    h2 {
        font-size: 2.625em;
    }
    
    .beta-text {
        font-size: 1.25em;
    }
}